.task {
    background-color: white;
    border: 1px solid lightgrey;
    border-radius: 4px;
    padding: 1rem;
    margin-bottom: 0.5rem;
}

.task-name,
.task-description {
    margin-right: 0.5rem;
}

.task-form{
    background-color: darkgray;
	border: 1px solid lightgrey;
	border-radius: 4px;
	padding: 1rem;
	margin-bottom: 1.5rem;
}

.button {
    transition-duration: 0.4s;
    border-radius: 4px;
    margin: 0.5rem;
}

.button:hover {
    background-color: darkgray;
    color: white;
}

.task-name {
    font-weight: bold;
}

.label {
    margin: 0.5rem;
}

