.log-overview{
    background-color: darkgray;
    border: 1px solid lightgrey;
    border-radius: 4px;
    padding: 1rem;
    margin-bottom: 0.5rem;
    width: 60vw;
}

.log-name {
    font-weight: bold;
    color: crimson;
    margin-bottom: 0.5rem;
}